.selfie {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: auto;
}
.skillsImg {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: auto;
}
.header {
  text-align: center;
}
